
label {
    display: block;
    width: 6em;
    margin: .5em 0;
    color: limegreen;
    font-weight: bold;
    border-color: black;
  }
  
input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
    color: turquoise;
    background-color: black;
    
  }
  ::placeholder {
      color: turquoise;
  }
  
button {
    font-family: Arial;
    background-color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: limegreen;
  }
button:hover {
    background-color: lime;
  }
  h1 {
    color:turquoise;
}
table {
    color: turquoise;
    background-color: black;
    border: limegreen;
    border-style: solid;
    border-radius: 1em;
    
}
h2 {
    color: red;
    border-bottom: solid;
    border-color: black;
}