<div class="container">
    <h1> Create a new account</h1>
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <input class="form-control" type="text" [(ngModel)]="fname" placeholder="User Name">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" [(ngModel)]="lname" placeholder="Password">
        </div>
       <div class="form-group">
          <input class="form-control" type="password" [(ngModel)]="lname" placeholder="Re-Type Password">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" (click)="addNewAccount()">Create</button>
          
        </div>
        <div class="alert alert-light" role="alert">
            {{message}}
        </div>
      </div>
    </div>
  </div>